<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div>
    <h2>掲示板サイト</h2>
    <div class="container">
        <div class="article-list">
            <h3>投稿一覧</h3>
            <div th:if="${articleList.size()==0}" class="no-article">
                <span>記事はまだ投稿されていません。</span>
            </div>
            <div th:each="article: ${articleList}" class="article-box">
                <div class="article-content">
                    <span>投稿者名：</span>
                    <span th:text="${article.name}"></span><br>
                    <span>投稿内容：</span><br>
                    <span th:text="${article.content}"></span><br>
                </div>
                <a th:href="@{'/bbs/delete/' + ${article.id}}">
                    <button class="btn-delete">記事削除</button><br>
                </a>
                <strong>コメント投稿</strong>
                <form method="post" th:action="@{/bbs/commentPost}" th:object="${createCommentForm}" class="comment-form">
                    <input type="hidden" name="articleId" th:value="${article.id}">
                    <div th:if="${createCommentForm.articleId} == ${article.id}" th:errors="*{name}" style="color:red"></div>
                    <label th:for="'commentName' + ${article.id}">
                        投稿者名<br>
                        <!-- バリデーション対象の記事には入力内容を保持 -->
                        <input type="text" th:id="'commentName' + ${article.id}" th:if="${createCommentForm.articleId} == ${article.id}"
                               th:field="*{name}" class="input-text"/>

                        <!-- それ以外の記事には空のフィールドを出す -->
                        <input type="text" th:id="'commentName' + ${article.id}" th:unless="${createCommentForm.articleId} == ${article.id}"
                               name="name" class="input-text"/>
                        <br>
<!--                        <input type="text" id="commentName" name="name" th:field="*{name}" class="input-text">-->
                    </label><br>
                    <div th:if="${createCommentForm.articleId} == ${article.id}" th:errors="*{content}" style="color:red"></div>
                    <label th:for="'commentContent' + ${article.id}">
                        コメント内容<br>
                        <textarea th:if="${createCommentForm.articleId} == ${article.id}" th:id="'commentContent' + ${article.id}"
                                  th:field="*{content}" rows="3" cols="100" class="textarea"></textarea>

                        <textarea th:unless="${createCommentForm.articleId} == ${article.id}" th:id="'commentContent' + ${article.id}"
                                  name="content" rows="3" cols="100" class="textarea"></textarea>
                        <br>
                    </label>
                    <button type="submit" class="btn">投稿</button>
                </form>
                <hr class="divider">
                <div th:if="${article.commentList.size()==0}" class="no-comment">
                    <span>コメントはまだ投稿されていません。</span>
                </div>
                <div th:each="comment: ${article.commentList}" class="comment-box">
                    <span>投稿者名：</span>
                    <span th:text="${comment.name}"></span><br>
                    <span>投稿内容：</span><br>
                    <span th:text="${comment.content}"></span><br>
                    <hr class="divider">
                </div>
            </div>
        </div>
        <div class="post-area-wrapper">
            <div class="post-area">
                <h3>記事投稿</h3>
                <form method="post" th:action="@{/bbs/articlePost}" th:object="${createArticleForm}" class="article-form">
                    <div th:errors="*{articleName}" style="color:red"></div>
                    <label for="name">
                        投稿者名<br>
                        <input type="text" id="name" name="articleName" th:field="*{articleName}" class="input-text">
                    </label>
                    <div th:errors="*{articleContent}" style="color:red"></div>
                    <label for="content">
                        記事内容<br>
                        <textarea id="content" name="articleContent" th:field="*{articleContent}" rows="7" cols="30" class="textarea"></textarea><br>
                    </label>
                    <button type="submit" class="btn">記事投稿</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
