<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div>
    <h2>掲示板サイト</h2>
    <div class="container">
        <div class="article-list">
            <h3>投稿一覧</h3>
            <div th:if="${articleList.size()==0}" class="no-article">
                <span>記事はまだ投稿されていません。</span>
            </div>
            <div th:each="article: ${articleList}" class="article-box">
                <div class="article-content">
                    <span>投稿者名：</span>
                    <span th:text="${article.name}"></span><br>
                    <span>投稿内容：</span><br>
                    <span th:text="${article.content}"></span><br>
                    <button>記事削除</button>
                </div>
                <strong>コメント投稿</strong>
                <form method="post" th:action="@{/bbs/commentPost}" th:object="${createCommentForm}" class="comment-form">
                    <input type="hidden" name="articleId" th:value="${article.id}">
                    <label for="commentName">
                        投稿者名<br>
                        <input type="text" id="commentName" name="name" th:field="*{name}" class="input-text">
                    </label><br>
                    <label for="commentContent">
                        コメント内容<br>
                        <textarea id="commentContent" name="content" rows="3" cols="100" th:field="*{content}" class="textarea"></textarea><br>
                    </label>
                    <button type="submit" class="btn">投稿</button>
                </form>
                <hr class="divider">
                <div th:if="${article.commentList.size()==0}" class="no-comment">
                    <span>コメントはまだ投稿されていません。</span>
                </div>
                <div th:each="comment: ${article.commentList}" class="comment-box">
                    <span>投稿者名：</span>
                    <span th:text="${comment.name}"></span><br>
                    <span>投稿内容：</span><br>
                    <span th:text="${comment.content}"></span><br>
                    <hr class="divider">
                </div>
            </div>
        </div>
        <div class="post-area-wrapper">
            <div class="post-area">
                <h3>記事投稿</h3>
                <form method="post" th:action="@{/bbs/articlePost}" th:object="${createArticleForm}" class="article-form">
                    <label for="name">
                        投稿者名<br>
                        <input type="text" id="name" name="name" th:field="*{name}" class="input-text">
                    </label>
                    <label for="content">
                        記事内容<br>
                        <textarea id="content" name="content" th:field="*{content}" rows="7" cols="30" class="textarea"></textarea><br>
                    </label>
                    <button type="submit" class="btn">記事投稿</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
